html, body {
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background-color: #114c81;
    font-family: "Space Grotesk", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #99c7eb #114c81;

    header {
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .logo{
            position: absolute;
            width: 12rem;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-left: 25rem;
            padding-right: 25rem;

            button{
                border: none;
                background-color: transparent;
                font-family: "Space Grotesk", sans-serif;
                font-size: 5rem;
                font-weight: bold;;
                color:#99c7eb;

                &:hover{
                    color: #ea5040;
                    text-decoration: underline #ea5040;
                    text-underline-offset: .7rem
                }
            };
        };
    };

    main {
        font-family: "Space Grotesk", sans-serif;
        margin-top: 5rem;
        height: 160rem;

        .delete-alert{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            height: 12rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            background-color: #114c81;
            color: #fff;
            border-radius: 2rem;
            border: .2rem solid #99c7eb;
            padding: 5rem;

            .delete-confirmation-btns {
                display: flex;
                margin-top: 3rem;
                justify-content: center;
                gap: 4rem;
                
                .delete-yes-btn, .delete-no-btn{
                    background-color: #ea5040;
                    font-family: "Space Grotesk", sans-serif;
                    width: 5rem;
                    height: 3rem;
                    border-radius: 2rem;
                    border: none;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #fff;

                    &:hover{
                        cursor: pointer;
                        background-color:#ff1900;
                        transition: .3s ease;
                    }
                }
            }
        }

        .search {
            position: absolute;
            top: 17rem;
            left: 85%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            gap: 3vh;
            color: white;
    
            .field {
                padding: 1vh 1.5vh;
                height: 4vh;
                width: 100%;
                background-color: #99c7eb;
                color: #114c81;
                font-family: "Space Grotesk", sans-serif;
                font-size: 2vh;
                border: none;
                border-radius: 1vh;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                text-decoration: underline;
                text-underline-offset: 0.4vh;
            }
    
            .field:focus {
                outline: none;
                border-color: #114c81;
                font-weight: bold;
            }
            
            .field::placeholder {
                color: #114c81;
                font-weight: normal;
            }
        };

        .product-container {
            display: flex;
            flex-direction: column;
            margin: 10rem 10rem;
            height: auto;

            .product-row{
                display: flex;
                align-items: center;
                height: 12rem;
                border-bottom: .2rem solid #99c7eb;

                &:first-child{
                    border-top: .2rem solid #99c7eb;
                };

                .number, .img, .title, .measures, .comment, .price, .edit, .delete {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }

                .number{
                    width: 5rem;
                    font-size: 2.5rem;
                    color: #fff;
                }

                .img {

                    .imagen{
                        width: 10rem;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                };

                .title {
                    width: 25rem;
                    font-size: 1.4rem;
                    font-weight: bold;
                    color: #fff;
                }

                .measures {
                    width: 15rem;
                    font-size: 1.5rem;
                    color: #fff;
                };

                .comment {
                    width: 25rem;
                    font-size: 1.5rem;
                    color: #fff;
                };

                .price {
                    width: 10rem;
                    font-size: 2rem;
                    color: #fff;
                };

                .edit, .delete{
                    width: 5rem;
                    fill: #fff
                };

                
                .delete-btn, .edit-btn{
                    background-color: transparent;
                    border: none;
                }

                svg{
                    height: 2.5rem;
                    width: 2.5rem;
                };

                .delete-svg:hover{
                    fill:#ff1900;
                    cursor: pointer;
                };

                .edit-svg:hover{
                    fill:#ffae00;
                    cursor: pointer;
                };
            };
        };

        .bottom-pagination {
            position: absolute;
            top: 175rem;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            gap: 3vh;
            color: white;
        }
        
        .top-pagination {
            position: absolute;
            top: 17rem;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            gap: 3vh;
            color: white;
        }
        
        .bottom-pagination span, .top-pagination span {
            font-size: 5vh;
        }
        
        .bottom-pagination button, .top-pagination button {
            border-radius: 10vh;
            height: 6vh;
            width: 12vh;
            border: none;
            background-color: #99c7eb;
            color: #114c81;
            font-family: "Space Grotesk", sans-serif;
            font-size: 1.8vh;
            font-weight: bold;
            box-sizing: border-box;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        
        .bottom-pagination button:hover, .top-pagination button:hover {
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 0.5vh;
            font-size: 1.9vh;
            transition: 0.3s ease;
            letter-spacing: 0.1vh;
        }
        
        .bottom-pagination button:disabled, .top-pagination button:disabled {
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
            cursor: not-allowed;
            text-decoration: none;
            font-size: 1.8vh;
            letter-spacing: 0vh;
        }
    };
};